---
const footerLinks = [
  {
    header: 'Horario de atención',
    line: [
      {
        name: 'Lunes: 8 a.m. - 6 p.m.',
      },
      {
        name: 'Martes: 8 a.m. - 6 p.m.',
      },
      {
        name: 'Miercoles: 8 a.m. - 6 p.m.',
      },
      {
        name: 'Jueves: 8 a.m. - 6 p.m.',
      },
      {
        name: 'Viernes: 8 a.m. - 6 p.m.',
      },
      {
        name: 'Sabado: 8 a.m. - 6 p.m.',
      },
      {
        name: 'Domingo: Previa anticipación',
      },
    ],
  },
  {
    header: 'Hora',
    line: [
      {
        hour: '8:00 a.m. - 6:00 p.m.',
      },
      {
        hour: '8:00 a.m. - 6:00 p.m.',
      },
      {
        hour: '8:00 a.m. - 6:00 p.m.',
      },
      {
        hour: '8:00 a.m. - 6:00 p.m.',
      },
      {
        hour: '8:00 a.m. - 6:00 p.m.',
      },
      {
        hour: '8:00 a.m. - 6:00 p.m.',
      },
      {
        hour: 'Previa anticipación',
      },
    ],
  },
];
---

<!-- ====== Footer Section Start -->
<footer class="wow fadeInUp relative z-10 bg-blue-900 pt-20 lg:pt-[100px]" data-wow-delay=".15s">
  <div class="container">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4 sm:w-1/2 md:w-1/2 lg:w-4/12 xl:w-3/12">
        <div class="mb-10 w-full">
          <a href="/" class="mb-6 inline-block max-w-[160px]">
            <img src="/assets/logo/flopach-white.png" alt="logo" class="max-w-full" />
          </a>
          <p class="mb-8 max-w-[270px] text-base text-gray-7"></p>
          <div class="-mx-3 flex items-center">
            <a
              href="https://www.facebook.com/mecanicaautomotrizflopach/"
              class="px-3 text-gray-7 hover:text-white"
              target="_blank"
            >
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="fill-current"
              >
                <path
                  d="M16.294 8.86875H14.369H13.6815V8.18125V6.05V5.3625H14.369H15.8128C16.1909 5.3625 16.5003 5.0875 16.5003 4.675V1.03125C16.5003 0.653125 16.2253 0.34375 15.8128 0.34375H13.3034C10.5878 0.34375 8.69714 2.26875 8.69714 5.12187V8.1125V8.8H8.00964H5.67214C5.19089 8.8 4.74402 9.17812 4.74402 9.72812V12.2031C4.74402 12.6844 5.12214 13.1313 5.67214 13.1313H7.94089H8.62839V13.8188V20.7281C8.62839 21.2094 9.00652 21.6562 9.55652 21.6562H12.7878C12.994 21.6562 13.1659 21.5531 13.3034 21.4156C13.4409 21.2781 13.544 21.0375 13.544 20.8312V13.8531V13.1656H14.2659H15.8128C16.2596 13.1656 16.6034 12.8906 16.6721 12.4781V12.4438V12.4094L17.1534 10.0375C17.1878 9.79688 17.1534 9.52187 16.9471 9.24687C16.8784 9.075 16.569 8.90312 16.294 8.86875Z"
                ></path>
              </svg>
            </a>
            <a
              href="https://wa.link/jb2rhk"
              class="px-3 text-gray-7 hover:text-white"
              target="_blank"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="fill-current"
                ><path
                  d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
                ></path></svg
              >
            </a>
            <a
              href="https://maps.app.goo.gl/Cjb3J8BEDZABX9wY7"
              class="px-3 text-gray-7 hover:text-white"
              target="_blank"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="fill-current"
                ><path
                  d="M12 2c3.196 0 6 2.618 6 5.602 0 3.093-2.493 7.132-6 12.661-3.507-5.529-6-9.568-6-12.661 0-2.984 2.804-5.602 6-5.602m0-2c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="w-full px-4 sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2">
        <div class="mb-10 w-full">
          <h4 class="mb-9 text-lg font-semibold text-white">{footerLinks[0].header}</h4>
          <ul>
            {
              footerLinks[0].line.map((line) => {
                if ('name' in line) {
                  return (
                    <li>
                      <p class="mb-3 inline-block text-base text-gray-7 ">{line.name}</p>
                    </li>
                  );
                }
              })
            }
          </ul>
        </div>
      </div> -->
      <!-- <div class="w-full px-4 sm:w-1/2 md:w-1/2 lg:w-3/12 xl:w-2/12">
        <div class="mb-10 w-full">
          <h4 class="mb-9 text-lg font-semibold text-white">{footerLinks[1].header}</h4>
          <ul>
            {
              footerLinks[1].line.map((line) => {
                if ('hour' in line) {
                  return (
                    <li>
                      <p class="mb-3 inline-block text-base text-gray-7 ">{line.hour}</p>
                    </li>
                  );
                }
              })
            }
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</footer>
<!-- ====== Footer Section End -->
