<script>
  const alert = document.getElementById('alert');
  const buttonAlert = document.getElementById('buttonAlert');
  const loader = document.getElementById('loader');
  const loading = document.getElementById('loading');
  const form = document.getElementById('form');
  const buttonSubmit = document.getElementById('buttonSubmit');

  form?.addEventListener('submit', (event) => {
    event.preventDefault();
    if (loader && loading) {
      loader.style.display = 'block';
      loading.style.display = 'none';
      buttonSubmit?.setAttribute('disabled', '');
    }
    sendEmail(event);
  });
  const sendEmail = (event: Event) => {
    const formdata = new FormData(event.target as HTMLFormElement);
    const data = Object.fromEntries(formdata);
    const xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://formsubmit.co/mecanicaflopach@gmail.com', true);
    xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8');
    xhr.send(JSON.stringify(data));

    xhr.onload = function (e) {
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        if (alert) {
          alert.style.display = 'block';
        }
        if (loader && loading) {
          loader.style.display = 'none';
          loading.style.display = 'block';
          buttonSubmit?.removeAttribute('disabled');
        }
        form?.reset();
      }
    };
  };

  buttonAlert?.addEventListener('click', () => {
    if (alert) {
      alert.style.display = 'none';
    }
  });
</script>

<!-- ====== Contact Start ====== -->
<section id="contact" class="relative py-20 md:py-[120px]">
  <div class="absolute left-0 top-0 -z-[1] h-full w-full dark:bg-dark"></div>
  <div
    id="map"
    class="z-1 absolute left-0 top-0 h-1/2 w-full bg-slate-300 dark:bg-dark-700 lg:h-[45%] xl:h-1/2"
  >
  </div>
  <div class="container px-4">
    <div class="-mx-4 flex flex-wrap items-center">
      <div
        class="w-full px-4 xs:pt-[240px] sm:pt-[250px] md:pt-[200px] lg:w-7/12 lg:pt-[100px] xl:w-8/12"
      >
        <div class="ud-contact-content-wrapper">
          <div class="ud-contact-title mb-12 lg:mb-[10px]">
            <span class="mb-6 block text-base font-medium text-dark dark:text-white">
              CONTÁCTENOS
            </span>
            <h2
              class="max-w-[260px] text-[35px] font-semibold leading-[1.14] text-dark dark:text-white"
            >
              Hablemos de tu problema
            </h2>
          </div>
          <div class="mb-12 flex flex-wrap justify-between lg:mb-0 lg:mt-6">
            <div class="mb-8 flex w-[330px] max-w-full">
              <div class="mr-6 text-[32px] text-primary">
                <svg width="29" height="35" viewBox="0 0 29 35" class="fill-current">
                  <path
                    d="M14.5 0.710938C6.89844 0.710938 0.664062 6.72656 0.664062 14.0547C0.664062 19.9062 9.03125 29.5859 12.6406 33.5234C13.1328 34.0703 13.7891 34.3437 14.5 34.3437C15.2109 34.3437 15.8672 34.0703 16.3594 33.5234C19.9688 29.6406 28.3359 19.9062 28.3359 14.0547C28.3359 6.67188 22.1016 0.710938 14.5 0.710938ZM14.9375 32.2109C14.6641 32.4844 14.2812 32.4844 14.0625 32.2109C11.3828 29.3125 2.57812 19.3594 2.57812 14.0547C2.57812 7.71094 7.9375 2.625 14.5 2.625C21.0625 2.625 26.4219 7.76562 26.4219 14.0547C26.4219 19.3594 17.6172 29.2578 14.9375 32.2109Z"
                  ></path>
                  <path
                    d="M14.5 8.58594C11.2734 8.58594 8.59375 11.2109 8.59375 14.4922C8.59375 17.7188 11.2187 20.3984 14.5 20.3984C17.7812 20.3984 20.4062 17.7734 20.4062 14.4922C20.4062 11.2109 17.7266 8.58594 14.5 8.58594ZM14.5 18.4297C12.3125 18.4297 10.5078 16.625 10.5078 14.4375C10.5078 12.25 12.3125 10.4453 14.5 10.4453C16.6875 10.4453 18.4922 12.25 18.4922 14.4375C18.4922 16.625 16.6875 18.4297 14.5 18.4297Z"
                  ></path>
                </svg>
              </div>
              <div>
                <h5 class="mb-[18px] text-lg font-semibold text-dark dark:text-white">
                  Nuestra ubicación
                </h5>
                <p class="text-base text-body-color dark:text-dark-6">
                  Cuarto baden Carretera Aeropuerto Colpa Baja-Chunapampa-Huánuco
                </p>
              </div>
            </div>
            <div class="mb-8 flex w-[330px] max-w-full">
              <div class="mr-6 text-[32px] text-primary">
                <svg width="34" height="25" viewBox="0 0 34 25" class="fill-current">
                  <path
                    d="M30.5156 0.960938H3.17188C1.42188 0.960938 0 2.38281 0 4.13281V20.9219C0 22.6719 1.42188 24.0938 3.17188 24.0938H30.5156C32.2656 24.0938 33.6875 22.6719 33.6875 20.9219V4.13281C33.6875 2.38281 32.2656 0.960938 30.5156 0.960938ZM30.5156 2.875C30.7891 2.875 31.0078 2.92969 31.2266 3.09375L17.6094 11.3516C17.1172 11.625 16.5703 11.625 16.0781 11.3516L2.46094 3.09375C2.67969 2.98438 2.89844 2.875 3.17188 2.875H30.5156ZM30.5156 22.125H3.17188C2.51562 22.125 1.91406 21.5781 1.91406 20.8672V5.00781L15.0391 12.9922C15.5859 13.3203 16.1875 13.4844 16.7891 13.4844C17.3906 13.4844 17.9922 13.3203 18.5391 12.9922L31.6641 5.00781V20.8672C31.7734 21.5781 31.1719 22.125 30.5156 22.125Z"
                  ></path>
                </svg>
              </div>
              <div>
                <h5 class="mb-[18px] text-lg font-semibold text-dark dark:text-white">
                  ¿Cómo podemos ayudarte?
                </h5>
                <p class="text-base text-body-color dark:text-dark-6">mecanicaflopach@gmail.com</p>
                <p class="mt-1 text-base text-body-color dark:text-dark-6">
                  <!-- contact@yourdomain.com -->
                </p>
              </div>
            </div>
            <div class="mb-8 flex w-[330px] max-w-full">
              <div class="mr-6 text-[32px] text-primary">
                <svg width="36" height="30" viewBox="0 0 36 30" class="fill-current">
                  <path
                    d="M 12 0 C 5.371094 0 0 5.371094 0 12 C 0 18.628906 5.371094 24 12 24 C 18.628906 24 24 18.628906 24 12 C 24 5.371094 18.628906 0 12 0 Z M 12 2 C 17.523438 2 22 6.476563 22 12 C 22 17.523438 17.523438 22 12 22 C 6.476563 22 2 17.523438 2 12 C 2 6.476563 6.476563 2 12 2 Z M 10.9375 3.875 L 10.5 12.0625 L 10.59375 12.9375 L 16.75 18.375 L 17.71875 17.375 L 12.625 11.96875 L 12.1875 3.875 Z"
                    stroke-linecap="round"></path>
                </svg>
              </div>
              <div>
                <h5 class="mb-[18px] text-lg font-semibold text-dark dark:text-white">
                  Horario de atención
                </h5>
                <p class="text-base text-body-color dark:text-dark-6">
                  Lunes a Sábado: 08:00 AM - 06:00 PM
                </p>
                <p class="mt-1 text-base text-body-color dark:text-dark-6">
                  Domingo: Previa anticipación
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mt-40 w-full px-4 pt-40 xs:mt-2 xs:pt-2 sm:mt-2 sm:pt-3 md:pt-[30px] lg:w-5/12 lg:pt-[200px] xl:mt-12 xl:w-4/12"
      >
        <div
          class="wow fadeInUp rounded-lg bg-white px-8 py-10 shadow-testimonial dark:bg-dark-2 dark:shadow-none sm:px-10 sm:py-12 md:p-[60px] lg:p-10 lg:px-10 lg:py-12 2xl:p-[60px]"
          data-wow-delay=".2s"
        >
          <h3
            class="mb-4 text-2xl font-semibold text-dark dark:text-white md:text-[28px] md:leading-[1.42]"
          >
            Envianos un mensaje
          </h3>
          <div
            id="alert"
            class="mb-2 rounded-lg border border-teal-200 bg-teal-100 p-4 text-sm text-teal-800 dark:border-teal-900 dark:bg-teal-800/10 dark:text-teal-500"
            role="alert"
            style="display: none"
          >
            <span class="font-bold">Mensaje enviado</span>
            <span id="buttonAlert" class="relative float-right" role="button">x</span>
          </div>
          <form id="form">
            <div class="mb-[22px]">
              <label for="nombre" class="mb-4 block text-sm text-body-color dark:text-dark-6"
                >Nombre completo <span class="text-blue-600">*</span></label
              >
              <input
                required
                type="text"
                name="nombre"
                placeholder="Ingrese su nombre"
                class="w-full border-0 border-b border-[#f1f1f1] bg-transparent pb-3 text-body-color placeholder:text-body-color/60 focus:border-primary focus:outline-none dark:border-dark-3 dark:text-dark-6"
              />
            </div>
            <div class="mb-[22px]">
              <label
                for="Correo electrónico"
                class="mb-4 block text-sm text-body-color dark:text-dark-6"
                >Correo electrónico <span class="text-blue-600">*</span></label
              >
              <input
                required
                type="email"
                name="Correo electrónico"
                placeholder="ejemplo@ejemplo.com"
                class="w-full border-0 border-b border-[#f1f1f1] bg-transparent pb-3 text-body-color placeholder:text-body-color/60 focus:border-primary focus:outline-none dark:border-dark-3 dark:text-dark-6"
              />
            </div>
            <div class="mb-[22px]">
              <label for="Celular" class="mb-4 block text-sm text-body-color dark:text-dark-6"
                >Celular <span class="text-blue-600">*</span></label
              >
              <input
                required
                type="text"
                name="Celular"
                min="9"
                minlength="9"
                max="9"
                size="9"
                maxlength="9"
                placeholder="999999999"
                class="w-full border-0 border-b border-[#f1f1f1] bg-transparent pb-3 text-body-color placeholder:text-body-color/60 focus:border-primary focus:outline-none dark:border-dark-3 dark:text-dark-6"
              />
            </div>
            <div class="mb-[30px]">
              <label for="Mensaje" class="mb-4 block text-sm text-body-color dark:text-dark-6"
                >Mensaje<span class="text-blue-600">*</span></label
              >
              <textarea
                required
                name="Mensaje"
                rows="2"
                placeholder="Ingrese su mensaje aquí"
                class="w-full border-0 border-b border-[#f1f1f1] bg-transparent pb-3 text-body-color placeholder:text-body-color/60 focus:border-primary focus:outline-none dark:border-dark-3 dark:text-dark-6"
              ></textarea>
            </div>
            <input type="hidden" name="_captcha" value="false" />
            <input type="hidden" name="_subject" value="MENSAJE DE LA WEB" />
            <div class="mb-0">
              <button
                id="buttonSubmit"
                type="submit"
                class="inline-flex w-full items-center justify-center rounded-md bg-primary px-10 py-3 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-blue-dark"
              >
                <span id="loading">Enviar</span>
                <span id="loader" style="display: none">
                  <svg
                    aria-hidden="true"
                    class="inline h-4 w-4 animate-spin fill-blue-600 text-gray-200 dark:text-gray-200"
                    viewBox="0 0 100 101"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="currentColor"></path>
                    <path
                      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentFill"></path>
                  </svg>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Contact End ====== -->
