---
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';
import BackToTop from '../components/layout/BackToTop.astro';

interface Props {
  description: string;
  title: string;
  image?: string;
}

const { description, title, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:image" content={image} />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      is:inline
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""></script>
    <script>
      import '../scripts/model.js';
    </script>
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <!-- <Header client:load /> -->
    <main>
      <slot />
    </main>
    <Footer />
    <BackToTop />
    <style is:global>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
      body {
        /* font-family: 'Inter', sans-serif; */
        font-family: 'Inter', sans-serif;
      }
      html {
        scroll-behavior: smooth;
      }
      #map {
        height: 300px;
      }
      .sticky-header {
        @apply fixed z-[9999] bg-white/80 transition dark:bg-dark/80;
        backdrop-filter: blur(5px);
        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
      }

      .sticky-header .navbar-logo {
        @apply py-2;
      }

      .sticky-header #navbarToggler span {
        @apply bg-dark dark:bg-white;
      }

      .sticky-header #navbarCollapse li > a {
        @apply text-dark hover:text-primary hover:opacity-100 dark:text-white dark:hover:text-primary;
      }
      #navbarCollapse li .ud-menu-scroll.active {
        @apply opacity-70;
      }
      .sticky-header #navbarCollapse li .ud-menu-scroll.active {
        @apply text-primary opacity-100;
      }
      .sticky-header .loginBtn {
        @apply text-dark hover:text-primary hover:opacity-100 dark:text-white dark:hover:text-primary;
      }

      .sticky-header .signUpBtn {
        @apply bg-primary text-white hover:bg-blue-dark hover:text-white;
      }

      .sticky-header #themeSwitcher span {
        @apply text-dark dark:text-white;
      }

      .navbarTogglerActive > span:nth-child(1) {
        @apply top-[7px] rotate-45 transform;
      }
      .navbarTogglerActive > span:nth-child(2) {
        @apply opacity-0;
      }
      .navbarTogglerActive > span:nth-child(3) {
        @apply top-[-8px] rotate-[135deg];
      }

      .common-carousel .swiper-button-next:after,
      .common-carousel .swiper-button-prev:after {
        @apply hidden;
      }

      .common-carousel .swiper-button-next,
      .common-carousel .swiper-button-prev {
        @apply !static m-0 h-12 w-12 rounded-lg bg-white text-dark shadow-testimonial-btn duration-200 ease-out hover:bg-primary hover:text-white hover:shadow-none dark:bg-dark dark:text-white;
      }

      .common-carousel .swiper-button-next svg,
      .common-carousel .swiper-button-prev svg {
        @apply h-auto w-auto;
      }

      #model > canvas {
        max-width: 100%;
        justify-content: center;
      }
    </style>

    <script>
      import '../scripts/stickymenu.js';
      import '../scripts/dropdown.js';
      import '../scripts/darkMode.js';
      import '../scripts/scrolltop.js';
      import '../scripts/scrollmenu.js';
      import '../scripts/testimonial.js';
      import '../scripts/map.js';
    </script>
  </body>
</html>
